<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ForgEtic</title>

        {% load static %}
        <link rel="stylesheet" href="{% static '../static/Css/style.css' %}">
        <link rel="stylesheet" href="{% static '../static/Css/initialPage.css' %}">
        <link rel="stylesheet" href="{% static '../static/Css/folder.css' %}">
        <link rel="stylesheet" href="{% static '../static/Css/file.css' %}">
        <script src="{% static 'busca.js' %}"></script>

    </head>

    
    <body>

        <section class = "home">
            
            {% comment %} NavBar {% endcomment %}
            <section class = "home-nav">
 
                {%block 'navBar'%}
                    <a class = "name-logo" href= "{% url 'folderView' %}">ForgEtic</a>

                    {% if user.is_authenticated %}
                        <div class = "logado">

                            <div class = "divUserName">
                                <label>{{user.username}}<label>
                            </div>
                            <a class = "btn_logout" href="{% url 'logout'%}">Logout</a>
                        </div>


                    {%else%}
                        <div class = "btn_login">
                            <a href="{% url 'login' %}">Login</a>
                            <a href="{% url 'cadastro' %}">Sign up</a>
                        </div>
                    {%endif%}

                {% endblock %}
            </section>


            <section class = "home-content">
                {%block 'content'%}
                    {% if user.is_authenticated %}
                            {% block 'SideBar' %}
                                <section class = "side-bar">
                                    <h1> Barra lateral </h1>
                                    <div class = "btns">
                                        {% if messages %}
                                            {% for message in messages %}
                                                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                                                    {{ message }}
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    
                                    
                                        <form class = "ClassFolderName" action = "{% url 'newfolder' %}" method = "POST">
                                            {% csrf_token %}
                                    
                                            <input type='hidden' name="parent_folder" value="{{current_folder_id}}">
                                            <label for="foldername">Nova pasta: </label>
                                            <input class = "inputNovaPasta" name = "foldername" placeholder = "Nome da pasta", required></input>
                                            <div class = "btns_confirmacao">
                                                <button class = "newFolder" type="submit">Criar</button>
                                            </div>
                                        </form> 

                                        <form class = "uploadFile" action="{% if folder %}{%url 'uploadFile' folder.id %}{%else%}{%url 'uploadFile'%}{%endif%}" method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            
                                            <label>Upload</label>
                                            <label class = "inputFile" for = "file">Escolher arquivo</label>
                                            <input  class = "escolherFile" id="file" type="file" name="file">
                                            <div class = "btns_confirmacao">
                                                <button class = "btn_uploadFile2" type="submit">Submeter</button>
                                            </div>
                                        </form>

                                        <form id="search-form">
                                            <label for="search-input">Buscar:</label>
                                            <input type="text" id="search-input" placeholder="Buscar arquivos e pastas...">
                                        </form>

                                    </div>

                                </section>  
                            {%endblock%}

                            <section class = 'work'>

                                <section class= "sectionWorkView">

                                    {% block 'workView' %}

                                    {% endblock %}
                                </section>

                            </section>

                    {%else%}
                        {%block 'semLogin'%}
                    
                        {%endblock%}

                    {%endif%}
                {% endblock %}
                           
            </section>
        </section>
        

    </body>
</html>