<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ForgEtic</title>

        {% load static %}
        <link rel="stylesheet" href="{% static '../static/style.css' %}">
    </head>

    
    <body>

        <section class = "home">
            
            {% comment %} NavBar {% endcomment %}
            
            <section class = "home-nav">
                {% comment %} <h1>ForgEtic</h1> {% endcomment %}
                <a class = "name-logo" href= "{% url 'home'%}">ForgEtic</a>

                {% block 'navBar' %}
                    <div class = "btn_login">
                        <a href="{% url 'login' %}">Login</a>
                        <a href="{% url 'cadastro' %}">Sign up</a>
                    </div>          
                {% endblock %}
            </section>

            <section class = "home-content">
            {% comment %} SideBar {% endcomment %}
                <section class = "side-bar">
                    <h1> Side Bar </h1>

                    {% block 'SideBar' %}
                        <div class = "btns">
                            <a href = "{% url 'uploadFile'%}">Upload</a>
                        </div>

                    {%endblock%}
                </section>

                {% comment %} Content {% endcomment %}
                <section class = "middle">
                    <section class = "class-map">
                        map
                    </section>

                    <section class="class-content">

                        {% block 'content' %}

                        {% endblock %}
                    </section>


                </section>
            </section>
        </section>

    </body>
</html>