<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ForgEtic</title>

        {% load static %}
        <link rel="stylesheet" href="{% static '../static/style.css' %}">
    </head>

    
    <body>
        <h1>ForgEtic</h1>

        {% block 'navBar' %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'cadastro' %}">Sign up</a>
        {% endblock %}


        {% block 'content' %}



        {% endblock %}

    </body>
</html>