{% extends "base.html" %}

{% block 'semLogin' %}

    <section class = 'initial-page' >
        <h1 class = "h1-initialPage"> A solução perfeita para armazenar seus arquivos: ForgEtic! </h1>
        <h3 class = "h3-initialPage"> O jeito mais fácil de nunca deixar suas lembranças para trás.</h3>
        <div class="div-h4-initialPage">
            <h4 class = "h4-initialPage">Ter seus arquivos importantes sempre à mão pode fazer toda a diferença na sua produtividade e tranquilidade.  Com ForgEtic, você tem a certeza de que seus documentos, fotos e vídeos estão sempre disponíveis, onde quer que você esteja. Esqueça as preocupações com a segurança e a acessibilidade dos seus arquivos – o ForgEtic está aqui para simplificar sua vida digital</h4>
        </div>
    
    </section>



    <section class = 'login-cadastro'> 

        <div class= "initial-message"> 
            <h3 class = "h3-login"> Faça seu Login ou cadastre-se em nossa plataforma </h3>

            <p class = "p-inicial">Venha fazer parte de uma comunidade que só cresce!  </p>
        </div>

        
        {%block 'loginPage'%}

        {%endblock%}

        {%block 'cadastroPage'%}

        {%endblock%}

    </section>
{% endblock %}
