{% comment %} {% extends "base.html" %}

{% block 'novaPasta' %}

  {% if messages %}
    {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}


  <form class = "ClassFolderName" action = "{% url 'newfolder' %}" method = "POST">
      {% csrf_token %}


      <label for="foldername">Folder Name:</label>
      <input name = "foldername" placeholder = "Folder Name", required></input>
      <button type="submit">Create</button>
  </form> 

{%endblock%}  {% endcomment %}