:root {
    --folder-bg-color: #4c4c4c; /* Cinza um pouco escuro */
    --folder-text-color: #ffffff;
    --button-bg-color: #d3d3d3;
    --button-hover-bg-color: #b0b0b0;
    --button-text-color: #000000;
}

/* Formulário de visualização das pastas */
.folderViewForm {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1%;
    width: 100%;
    height: 100%;
    padding: 0px;
    box-sizing: border-box;
}

/* Lista de pastas e arquivos */
ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    height: 100;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Cada pasta */
.folders {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 50%;
    margin: 1%;
    background-color:yellowgreen;
    color: var(--folder-text-color);
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}


@media (max-width: 1024px) {
    .folders {
        width: calc(50% - 20px); /* 2 pastas por linha em telas menores */
    }
}

@media (max-width: 768px) {
    .folders {
        width: calc(100% - 20px); /* 1 pasta por linha em telas ainda menores */
    }
}

.btns_folder form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 40%;
}

/* Botões de cada pasta */
.btns_folder {
    display: flex;
    width: 100%;
    margin-top: 10px;
    align-items: center;
    flex-direction: column;
}


.formBtnsDelete{
    display: flex;
    height: 30%;
    margin-top: 0;
}

.divFolderDownload{
    display: flex;
    width: 90%;
    height: 13%;
    margin-top: 7%;
    align-items: center;
    justify-content: center;
    background-color: var(--button-bg-color);
    border-radius: 3px;
}

a#a_folderDownload{
    display: flex;
    width: 100%;
    height: 100%;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    color: red;
}

a.folderName{
    align-self: center;
    font-size: 24px;

}

/* Estilo dos botões */
.btn_rename, .btn_delete  {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.btn_rename:hover, .btn_delete:hover {
    background-color: var(--button-hover-bg-color);
}

/* Inputs */
input[type="text"] {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}



/* ___________________ MEssages __________________ */

.error{
    color: red;
    size: 16px;

}
