.folder-link {
    display: flex;
    width: 150px;
    height: 150px;
    text-decoration: none;
    color: inherit;
}

.svg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.folder-icon {
    display: flex;
    width: 200px;
    height: 200px;
}

.folder-name {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.folders {
    display: inline-block;
    text-align: center;
    margin: 15px;
}

.btns_folder {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.formBtnsFolder,
.formBtnsDelete,
.divFolderDownload {
    margin-top: 10px;
}

.formBtnsFolder input[type="text"],
.formBtnsFolder button,
.divFolderDownload a,
.formBtnsDelete button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

.formBtnsFolder input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 4px;
}

.formBtnsFolder button{
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.formBtnsFolder button:hover{
    background-color: #0056b3;
}


.formBtnsDelete button{
    background-color: #db0202;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.formBtnsDelete button:hover {
    background-color: #ac0202;

}


.divFolderDownload a {
    display: block;
    text-align: center;
    background-color: #28a745;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
}

.divFolderDownload a:hover {
    background-color: #218838;
}

.folder-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.folder-icon {
    width: 150px;
    height: 150px;
    margin-bottom: 5px; /* Espaçamento entre o ícone e o nome */
}

.folder-name {
    display: flex;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    text-align: center;
    /* margin-top: 60%; */
    /* padding-left: 50%; */
}