
:root {

    --primary-color: #C2D3DF;
    --secondary-color: #e2e4ed;
    --tertiary-color: #262B8B;
    --quaternary-color: #685785;
    --quinary-color: whitesmoke;


    --text-color-primary: black;
    --text-color-secondary: rgb(29, 27, 27);
    --text-color-tertiary: lightgray;
    --text-color-quaternary: rgb(179, 179, 179);



}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    width: 100%;
    height: 100dvh;
}

.home{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
}

.name-logo{
    text-decoration: none;
    color: var(--quinary-color);
    font-size: 2.3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
}

.home-nav{
    display: flex;
    position: fixed;
    top:0;
    flex-direction: row;
    justify-content: space-between;
    height: 8dvh;
    width: 100%;
    background-color: var(--tertiary-color);
    align-items: center;
    border-radius: 2px;
    z-index: 1000;
}

.btn_login{
    display: flex;
    justify-content: flex-end;
    margin-right: 3%;
    align-items: center;
    height: 15%;
    width: 15%;
}

.btn_login a {
    margin: 5%;
    padding: 5%;
    height: auto;
    background-color: lightgrey;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;  
    align-items: center;
}

.btn_login a:hover{
    background-color: rgb(124, 124, 124);
    color: whitesmoke;

}

.logado{
    display: flex;
    justify-content: flex-end;
    align-items:flex-end;
    height: 50%;
    width: 40%;
    margin-right: 3%;
    gap: 5%;
}


.logado a { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    background-color: lightgrey;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;  
}

.logado a:hover{
    background-color: rgb(124, 124, 124);
    color: whitesmoke;
}

.divUserName{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    padding: 2%;
    font-size: 1em;
    background-color: transparent;
    color: whitesmoke;
    font-size: x-large;
    letter-spacing: 1.3px;
    border-radius: 10px;
}


.home-content{
    display: flex;
    height: 92dvh;
    width: 100%;
    margin-top: 8vh;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
}

.side-bar{
    display: flex;
    position: fixed;
    top: 8dvh;
    justify-content: space-between;
    background-color: var(--secondary-color);
    flex-direction: column;
    width: 17%;
    height: 100vh;
    align-items: center;
    padding-bottom: 1%;
    padding-top: 1%;
    z-index:999;
    border-radius: 2px;
}


.btns{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 90%;
    align-items: center;
    justify-content: center;
    /* background-color: brown; */
}

.btns a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 10% 0;
}


.btn_upload{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4dvh;
    text-decoration: none;
    background-color: blue;
    cursor: pointer;
    color: white;
    border: 2px solid black;
    border-radius: 25px;
    font-size: 1.5rem;
    transition: background-color 0.3s, transform 0.3s; /* Adiciona transições */
}

.btn_upload:hover {
    background-color: #0056b3; /* Muda a cor de fundo ao passar o mouse */
}

.btn_upload:active {
    transform: translateY(2px); /* Move o botão um pouco para baixo ao clicar */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra sutil */
}


.btn_Createfolder{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4dvh;
    text-decoration: none;
    background-color: #008000;
    cursor: pointer;
    color: white;
    border: 2px solid black;
    border-radius: 25px;
    font-size: 1.5rem;
    transition: background-color 0.3s, transform 0.3s; 
}

.btn_Createfolder:hover {
    background-color: #015b01; 
}

.btn_Createfolder:active {
    transform: translateY(2px); /* Move o botão um pouco para baixo ao clicar */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra sutil */
}



/* ___________________________________ Work Section _______________________________ */

.sectionWorkView{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.map{
    position: fixed;
    top: 3;
    left: 3;
    background-color: var(--primary-color);
    z-index: 999;
    display: flex;
    height: 5%;
    width: 100%;
    font-size: x-large;
}

.foldersAndFiles{
    display: flex;
    width: 100%;
    height: 100vh;
    margin-left: 2%;
}


.work{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 8dvh;
    left: 17%;
    width: 83%;
    height: 100dvh;
    padding: 0.8%;
    overflow-y: auto;
    background-color: var(--primary-color);
    border-radius: 2px;
    z-index: 1;
}



/* ________________________________ FORMS - SIDE BAR ___________________________ */


.ClassFolderName{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20%;
}


.uploadFile{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    gap:10px ;
}

.escolherFile{
    display: none;
}

.inputFile{
    display: flex;
    width: 100%;
    height: 8%;
    background-color: whitesmoke;
    font-size: large;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 2px solid rgb(88, 87, 87);
    cursor: pointer;
}

.btns_confirmacao{
    display: flex;
    width: 100%;
    height: 15%;
    align-items: end;
    justify-content: flex-end;
}

.btn_uploadFile{
    display: flex;
    width: 10%;
    height: 10%;
    align-items: flex-end;
    font-size: 2vw;
    background-color: transparent;
    border: transparent;
    padding-right: 30%;
}


.newFolder{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgb(164, 164, 164);
    cursor: pointer;
}

.btn_uploadFile2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgb(164, 164, 164);
    cursor: pointer;
}


.btns_confirmacao button:hover{
    background-color: rgb(99, 99, 99);
    color: whitesmoke;

}

.inputNovaPasta{
    margin-top: 3%;
}

.buscar{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20%;
}

.search-form {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-top: 20px;
}

.search-input {
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    box-sizing: border-box;
    border-radius: 4px;
}


/* _______________________________ LOGIN ____________________________ */

.inputNameLogin{
    height: 8%;
    margin-bottom: 7%;
    border-radius: 10px;
    padding: 5%;
}

